@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');

body {
    background: #222;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 300;
}

canvas {
    float: left;
    margin: .5rem;
    background: #000;
}

#controls,
#stats {
    float: left;
    margin: .5rem;
    border: 1px solid #999;
    border-radius: .25rem;
    padding: .25rem;
}

#controls button {
    float: left;
    clear: both;
    width: calc(200px - 1.5rem);
    cursor: pointer;
    color: #999;
    background: #222;
    border: 1px solid #999;
    border-radius: .25rem;
    padding: .5rem;
}

#controls button:hover {
    color: #fff;
    border-color: #fff;
}

label {
    float: left;
    clear: both;
    width: 100%;
}

.label {
    color: #999;
}

hr {
    margin: 0.5rem;
    display: inline-block;
    width: calc(100% - 1rem);
    border: none;
    border-top: 1px solid #999;
}

#header {

}

#stats {
    float: left;
    width: calc(200px - 1.5rem);
    color: #fff;
}

#stats .value {
    float: right;
}
